page-social {

  ion-content{
    background-color: #f1f2f6 !important;
  }

  .contentContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    margin-top: 15%;
  }

  .mainkeyboard{
  	text-transform: lowercase;
    width: 400px;
    height: 400px;
    background-color: #fff;

    padding: 1%;
    padding-top: 1.5%;
    border-radius: 3px;
    margin: 10px;

    h1{
    	font-family: 'Neucha', cursive;
    }
  }

  .KeyboardKey {
  	display: inline-block;
  	padding: 10px;
  	margin-bottom: 0px;
  	border-radius: 6px;
  	cursor: pointer;
  	display: inline-block;
  	font-family: arial;
  	font-size: 14px;
  	font-weight: bold;
  	font-style: normal;
  	line-height: 2vh;
  	width: 59px;
  	height: 37px;
  	text-decoration: none;
  	text-align: center;
    font-family: 'Neucha', cursive;

  	background: #ea8685;
  	color: #fff;
  }

  .searchanything{
    background: #e66767;
  	color: #f1f2f6;
    margin-top: 1%;
  }

  .uppershift{
  	text-transform: uppercase;
  }

  .serious{
  	width: 91px;
  }

  .megaserious{
  	width: 100%;
  }

  .KeyboardKey:active {
  	background-color: #fff;
  }

  .KeyboardKey:focus {
  	background-color: #fff;
  }

  .searcherInput{
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;

    width: 50%;
    margin-top: 13%;
    height: 50px;
    padding-left: 2%;
    border: none;

    color: #95afc0;
  }

  .searcherInput::-webkit-input-placeholder{
      color: #95afc0;
  }

  .orcaLogo{
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    width: 8%;
    margin-top: 2%;
  }

  .lockIcon{
    position: absolute;
    margin-left: 90vw;
    font-size: 50px;
    margin-top: 2%;
  }

  .contentcard{
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: 10px;

    padding: 3%;
    padding-top: 4%;
    border-radius: 3px;

    h1{
    	font-family: 'Neucha', cursive;
    }
  }

  .divdingbox{
    width: 400px;
    height: 400px;
    background-color: #fff;

    padding: 3%;
    padding-top: 4%;
    border-radius: 3px;
    margin: 10px;

    h1{
    	font-family: 'Neucha', cursive;
    }
  }


  .GirthBox{
    width: 100%;
    height: 400px;
    background-color: #fff;

    padding: 3%;
    padding-top: 4%;
    border-radius: 3px;
    margin: 10px;

    h1{
    	font-family: 'Neucha', cursive;
    }
  }

}
