
.dashCover{
  padding: 5%;
  width: 100%;
  height: 100%;
  background: #EFF1F6;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll !important;
  pointer-events: auto;
}

.dashBox{
  background: #fff;
  margin: 3%;
  margin-top: 0%;
  left: 0;
  right: 0;
}

.boxA{
  width: 350px;
  height: 300px;
}

.boxB{
  width: 600px;
  height: 300px;
}

.boxC{
  width: 350px;
  height: 600px;
}

.boxD{
  width: 600px;
  height: 600px;
}

.boxE{
  width: 600px;
  height: 300px;
}

.boxF{
  width: 350px;
  height: 300px;
}

.boxSplit{
  border-left: 2px dotted #e8e8e8;
  height: 200px;
  width: 2px;
  margin-left: auto;
  margin-right: 30%;
  left: 0;
  right: 0;
  display: block;
  margin-top: 14%;
}

.theTimeHome{
  margin-top: -42%;
  margin-left: 16%;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 42px;
  letter-spacing: 2px;
}

.currentSubHome{
  padding-top: 2%;
  padding-left:16%;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8e8e8e;
  text-transform: uppercase;
}

.homeBoxTitle{
  padding:  5%;
  padding-left: 10%;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.icon-think{
  margin-left: 77%;
  font-size: 64px;
  margin-top: -25%;
  display: block;
  color: #47509A;
}

.nextSubjectTitle{
  margin-left: 10%;
  font-size: 42px;
  margin-top: 5%;
  color: #a3a7cc;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.timeAndTeacher{
  margin-left: 10%;
  font-size: 14px;
  margin-top: 0%;
  color: #d7d8dd;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
