
<div class="bodyCover" *ngIf="loading">
  <div class="dashCover">
    <div class="dashBox boxA">

      <span class="boxSplit"></span>
      <h1 class="theTimeHome">9:03am</h1>
      <h2 class="currentSubHome">June 24th, 2018</h2>
      <i class="icon icon-think"></i>
    </div>
    <div class="dashBox boxB">
      <h3 class="homeBoxTitle">Next Class</h3>
      <h2 class="nextSubjectTitle">science</h2>
      <h4 class="timeAndTeacher">10:40am &bull; Mr. Rusco</h4>

      <label class="materialsSubTitle">Required Materials</label>
      <ul class="materialsNeeded">
        <li>Part B, Molluscs quiz completed <br /> (homework from Friday)</li>
        <li>Campbell Biology: Australian and New Zealand edition</li>
        <li>2B pencil, graphics calculator</li>
      </ul>
    </div>
    <div class="dashBox boxC scrollDashBox">
      <h3 class="homeBoxTitle">Assessments</h3>
      <div class="assessmentOuterBox">
        <div class="colouredDot green"></div>
        <label class="assessmentName">Egypt Opinion Piece</label><br />
        <label class="assessmentTimes">80/100% &bull; Handed out June 12<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">Tomorrow</label>
      </div>
      <div class="assessmentOuterBox">
        <div class="colouredDot green"></div>
        <label class="assessmentName">Fractions 101 Assessment</label><br />
        <label class="assessmentTimes">20/100% &bull; Handed out June 4<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">27<sup>th</sup> June</label>
      </div>
      <div class="assessmentOuterBox">
        <div class="colouredDot green"></div>
        <label class="assessmentName">Math_Sem_2_SXA10</label><br />
        <label class="assessmentTimes">0/100% &bull; Handed out June 10<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">27<sup>th</sup> June</label>
      </div>
      <div class="assessmentOuterBox">
        <div class="colouredDot orange"></div>
        <label class="assessmentName">Math_Sem_2_SXA10</label><br />
        <label class="assessmentTimes">10/100% &bull; Handed out June 18<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">2<sup>nd</sup> July</label>
      </div>
      <div class="assessmentOuterBox">
        <div class="colouredDot orange"></div>
        <label class="assessmentName">Math_Sem_2_SXA10</label><br />
        <label class="assessmentTimes">0/100% &bull; Handed out June 18<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">2<sup>nd</sup> July</label>
      </div>
      <div class="assessmentOuterBox">
        <div class="colouredDot red"></div>
        <label class="assessmentName">Math_Sem_2_SXA10</label><br />
        <label class="assessmentTimes">0/100% &bull; Handed out June 18<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">2<sup>nd</sup> July</label>
      </div>
      <div class="assessmentOuterBox">
        <div class="colouredDot red"></div>
        <label class="assessmentName">Math_Sem_2_SXA10</label><br />
        <label class="assessmentTimes">0/100% &bull; Handed out June 18<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">2<sup>nd</sup> July</label>
      </div>
      <div class="assessmentOuterBox">
        <div class="colouredDot red"></div>
        <label class="assessmentName">Math_Sem_2_SXA10</label><br />
        <label class="assessmentTimes">0/100% &bull; Handed out June 18<sup>th</sup></label>
        <label class="assessmentDueDate">Due</label><br /><label class="dueDateDate">2<sup>nd</sup> July</label>
      </div>
    </div>
    <div class="dashBox boxD">
      <h3 class="homeBoxTitle">Timetable</h3>
    </div>
    <div class="dashBox boxE">
      <h3 class="homeBoxTitle">Classmates</h3>
    </div>
    <div class="dashBox boxF">
      <h3 class="homeBoxTitle">Teachers</h3>
    </div>
  </div>
</div>

<p *ngIf="!loading">
  Loading...
</p>
