
<div class="bodyCover" *ngIf="loading">
  <div class="dashCover">
    <div class="dashBox boxA">

      <span class="boxSplit"></span>
      <h1 class="theTimeHome">9:03am</h1>
      <h2 class="currentSubHome">It's maths time!</h2>
      <i class="icon icon-think"></i>
    </div>
    <div class="dashBox boxB">
      <h3 class="homeBoxTitle">Next Class</h3>
      <h2 class="nextSubjectTitle">science</h2>
      <h4 class="timeAndTeacher">10:40am &bull; Mr. Rusco</h4>
    </div>
    <div class="dashBox boxC">
      <h3 class="homeBoxTitle">Assessments</h3>
    </div>
    <div class="dashBox boxD">
      <h3 class="homeBoxTitle">Timetable</h3>
    </div>
    <div class="dashBox boxE">
      <h3 class="homeBoxTitle">Classmates</h3>
    </div>
    <div class="dashBox boxF">
      <h3 class="homeBoxTitle">Teachers</h3>
    </div>
  </div>
</div>

<p *ngIf="!loading">
  Loading...
</p>
