.bodyCover{
  width: 100%;
  height: 100vh;
  display: block;
  margin-top: 0;
  position: absolute;
  z-index: -10;
  pointer-events: none;
  //background: #E8E8E8;
}

.middleBrick{
  background: #fff;
  width: 70vw;
  height: 70vh;
  display: block;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 9%;
  box-shadow: 0px 0px 200px #8e8e8e;
  display: inline-flex;
  position: absolute;
}

.leftSide{
  width: 50%;
  height: 100%;
  display: block;
  background: #839f37;
  padding: 7%;

  h1{
    color: #fff;
    font-size: 34px;

    font-family: 'Nunito', cursive;
    font-weight: 600;
  }

  .courseAmountAll{
    display: block;
    width: 300px;
    height: 5px;
    background: #E7E7E7;
    margin-top: 15%;
    border-radius: 30px;

    .courseAmount{
      display: block;
      width: 80px;
      height: 100%;
      background: #fff;
      border-radius: 30px;
    }
  }

  .infoAmountComplete{
    margin-top: 3%;
    font-size: 12px;
    color: #E7E7E7;
  }

  .beginLessonBtn{
    width: 170px;
    height: 40px;
    display: block;
    background: #fff;
    color: #839f37;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 5.5vh;
    font-size: 12px;
    margin-top: 5vh;

    font-family: 'Nunito', cursive;
    font-weight: 800;
  }

  .coreText{
    margin-top: 15%;
    color: #fff;
    font-family: 'Nunito', cursive;
    font-weight: 500;
    width: 80%;
    font-size: 14px;
  }
}

.rightSide{
  width: 50%;
  height: 100%;
  display: block;
  padding: 10%;
  pointer-events: auto;

  .goalTitle{
    color: #383838;
    font-size: 13px;

    font-family: 'Nunito', cursive;
    font-weight: 800;
    text-transform: uppercase;
  }

  .lilThinGoalLine{
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    margin-top: 5%;
  }

  .mathGoalForm{
    display: inline-flex;
    width: 100%;
  }

  .theMathInput{
    margin-top: 10%;
    width: auto;
    border: none;
    border-bottom: 1px dotted #383838;
    font-size: 16px;
    color: #383838;
    font-family: 'Nunito', cursive;
    font-weight: 800;
    padding: 1%;
  }

  .noBorder{
    border: none !important;
    pointer-events: none;
  }
  .checkBox{
    width: 20px;
    height: 20px;
    border: 1px solid #8e8e8e;
    display: block;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    i{
      font-size: 24px;
      color: #839f37;
      z-index: 9000;
      pointer-events: auto;
    }
  }
}
