<div *ngIf="loading">
  <div class="mainkeyboard" [ngClass]="{'uppershift' : hitshift }">
      <div *ngIf="specialkeys">
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('0')">0</span>
              <span class="KeyboardKey" (click)="useKeyboard('1')">1</span>
              <span class="KeyboardKey" (click)="useKeyboard('2')">2</span>
              <span class="KeyboardKey" (click)="useKeyboard('3')">3</span>
              <span class="KeyboardKey" (click)="useKeyboard('4')">4</span>
              <span class="KeyboardKey" (click)="useKeyboard('5')">5</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('6')">6</span>
              <span class="KeyboardKey" (click)="useKeyboard('7')">7</span>
              <span class="KeyboardKey" (click)="useKeyboard('8')">8</span>
              <span class="KeyboardKey" (click)="useKeyboard('9')">9</span>
              <span class="KeyboardKey" (click)="useKeyboard('!')">!</span>
              <span class="KeyboardKey" (click)="useKeyboard('%')">%</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('\u201C')">"</span>
              <span class="KeyboardKey" (click)="useKeyboard(':')">:</span>
              <span class="KeyboardKey" (click)="useKeyboard(';')">;</span>
              <span class="KeyboardKey" (click)="useKeyboard('^')">^</span>
              <span class="KeyboardKey" (click)="useKeyboard('&')">&</span>
              <span class="KeyboardKey" (click)="useKeyboard('*')">*</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('(')">[</span>
              <span class="KeyboardKey" (click)="useKeyboard(')')">]</span>
              <span class="KeyboardKey" (click)="useKeyboard('-')">-</span>
              <span class="KeyboardKey" (click)="useKeyboard('+')">+</span>
              <span class="KeyboardKey" (click)="useKeyboard('/')">/</span>
              <span class="KeyboardKey" (click)="useKeyboard('=')">=</span>
          </div>

          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('/')">/</span>
              <span class="KeyboardKey" (click)="useKeyboard('\u2018')">\u2018</span>
              <span class="KeyboardKey" (click)="useKeyboard('\u2019')">\u2019</span>
              <span class="KeyboardKey" (click)="useKeyboard('<')"><</span>
              <span class="KeyboardKey" (click)="useKeyboard('>')">></span>
              <span class="KeyboardKey" (click)="useKeyboard('~')">~</span>
          </div>
      </div>

      <div *ngIf="!specialkeys">
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('q')">Q</span>
              <span class="KeyboardKey" (click)="useKeyboard('w')">W</span>
              <span class="KeyboardKey" (click)="useKeyboard('e')">E</span>
              <span class="KeyboardKey" (click)="useKeyboard('r')">R</span>
              <span class="KeyboardKey" (click)="useKeyboard('t')">T</span>
              <span class="KeyboardKey" (click)="useKeyboard('y')">Y</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('u')">U</span>
              <span class="KeyboardKey" (click)="useKeyboard('i')">I</span>
              <span class="KeyboardKey" (click)="useKeyboard('o')">O</span>
              <span class="KeyboardKey" (click)="useKeyboard('p')">P</span>
              <span class="KeyboardKey" (click)="useKeyboard('a')">A</span>
              <span class="KeyboardKey" (click)="useKeyboard('s')">S</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('d')">D</span>
              <span class="KeyboardKey" (click)="useKeyboard('f')">F</span>
              <span class="KeyboardKey" (click)="useKeyboard('g')">G</span>
              <span class="KeyboardKey" (click)="useKeyboard('h')">H</span>
              <span class="KeyboardKey" (click)="useKeyboard('j')">J</span>
              <span class="KeyboardKey" (click)="useKeyboard('k')">K</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('l')">L</span>
              <span class="KeyboardKey" (click)="useKeyboard('z')">Z</span>
              <span class="KeyboardKey" (click)="useKeyboard('x')">X</span>
              <span class="KeyboardKey" (click)="useKeyboard('c')">C</span>
              <span class="KeyboardKey" (click)="useKeyboard('v')">V</span>
              <span class="KeyboardKey" (click)="useKeyboard('b')">B</span>
          </div>
          <div class="KeyboardRow">
              <span class="KeyboardKey" (click)="useKeyboard('#')">#</span>
              <span class="KeyboardKey" (click)="useKeyboard('@')">@</span>
              <span class="KeyboardKey" (click)="useKeyboard('$')">$</span>
              <span class="KeyboardKey" (click)="useKeyboard('?')">?</span>
              <span class="KeyboardKey" (click)="useKeyboard('n')">N</span>
              <span class="KeyboardKey" (click)="useKeyboard('m')">M</span>
          </div>
      </div>

      <div class="KeyboardRow">
          <span class="KeyboardKey serious" (mousedown)="useBackspace()" style="text-transform: none;">Backspace</span>

          <span *ngIf="specialkeys">
            <span class="KeyboardKey" (click)="useKeyboard('(')">(</span>
            <span class="KeyboardKey" (click)="useKeyboard(')')">)</span>
          </span>

          <span *ngIf="!specialkeys">
            <span class="KeyboardKey" (click)="useKeyboard('.')">.</span>
            <span class="KeyboardKey" (click)="useKeyboard(',')">,</span>
          </span>

          <span class="KeyboardKey specmiore" (click)="moreicons()">
            <i class="icon-more" *ngIf="!specialkeys"></i>
            <i class="icon-cube" *ngIf="specialkeys"></i>
          </span>

          <span class="KeyboardKey serious" (click)="activateShift()" style="text-transform: none;">Shift</span>
      </div>

      <div class="KeyboardRow">
          <span class="KeyboardKey megaserious" (click)="useKeyboard(' ')" style="text-transform: none;">Space</span>
      </div>

    </div>
  <div>
</div>

<p *ngIf="!loading">
  Loading...
</p>
